
<div class="container col-4">
  <div id='flat-booking-dates' data-unavailable="<%= @wearable.unavailable_dates.to_json %>">

        <%= simple_form_for([@wearable, @booking]) do |f| %>
            <%= f.input :start_date, as: :string, type: :text %>
            <%= f.input :end_date, as: :string, type: :text %>
            <%= f.submit "Book", class: "btn btn-primary" %>

      <% end %>
  </div>
</div>
