
<div class="container d-flex justify-content-between align-items-center">
<h1>Discover Wearables 👀</h1>
<h5><%= link_to "Add Wearable", new_wearable_path, class: "btn btn-success" %></h5>
</div>

<div class="d-flex justify-content-around m-4 align-self-center">
  <div style="width: 80%; height: 400px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    class="rounded-5 shadow">
  </div>
</div>

<div class="container">
  <div class="row row-cols-auto">
      <% @wearables.each do |w| %>
        <%= link_to wearable_path(w) do %>
          <div class="card-design col m-3 pe-0">
            <div class="ps-3 card-details">
              <div>
                <h5 class= "pe-3 pt-3"> <strong> <%= w.title %> </strong></h5>
                <h4> category: <%= w.category %></h4>
                <h4> brand: <%= w.brand %></h4>
              </div>
              <h4 class="pb-3"> <strong> €<%= w.price %> </strong></h4>
            </div>
            <%= cl_image_tag w.photos[0].key, height: 200, width: 130, crop: :fill %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
