<h1>This is the wearable index</h1>

<h5><%= link_to "Add Wearable", new_wearable_path, class: "btn btn-success" %></h5>

<% @wearables.each do |w| %>
  <div>
  `<%= link_to wearable_path(w)  do %>`
    <h3><%= w.title %> </h3>
    <h5> description: <%= w.description %> </h5>
    <h5> brand: <%= w.brand %> </h5>
    <h5> size: <%= w.size %> </h5>
    <h5> category: <%= w.category %> </h5>
    <h5> price: €<%= w.price %> </h5>
  <% end%>
  </div>
<br>
<% end %>
