<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6 ">
      <%= simple_form_for(@wearable) do |f| %>
        <%= f.input :title, as: :string %>

        <%= f.input :photos, as: :file, input_html: { multiple: true } %>

        <%= f.input :description, as: :string %>

        <%= f.input :size, as: :select, collection: ['S', 'M', 'L', 'XL'] %>

        <%= f.input :brand, as: :string %>

        <%= f.input :category, as: :select, collection: ['watch', 'jacket', 'glasses'] %>

        <%= f.input :price, as: :float %>

        <%= f.input :address, as: :string %>

        <%= f.submit "Submit"%>

      <% end %>
    </div>
  </div>
</div>
