
<div class="d-flex justify-content-between">
  <div>

    <h1>This is a wearable</h1>
    <h3> title: <%= @wearable.title %> </h3>
    <h5> description: <%= @wearable.description %> </h5>
    <h5> size: <%= @wearable.size %> </h5>
    <h5> brand: <%= @wearable.brand %> </h5>
    <h5> category: <%= @wearable.category %> </h5>
    <h5> price: €<%= @wearable.price %> </h5>

    <h5><%= link_to "Edit Wearable", edit_wearable_path(@wearable), class: "btn btn-success" if policy(@wearable).edit? %></h5>

    <%= link_to "Get it", new_wearable_booking_path(@wearable), class: "btn btn-primary"  %>
  </div>
  <%= render 'carousel' %>
</div>
