<!DOCTYPE html>
<html>
  <head>
    <title>Wearables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%# <link rel="stylesheet" href="./components/_index.scss"> %>
  </head>
  <body>
    <nav class="border-bottom sticky">
      <div class="d-flex justify-content-between d-flex m-4">
        <a class="d-flex align-items-center text-decoration-none" href="home-page">Logo</a>
        <div class="d-inline-flex">
          <span class="d-flex align-items-center m-2">UserName</span>

            <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Sign Out</a></li>
              <li><a class="dropdown-item" href="#">My account</a></li>
              <li><a class="dropdown-item" href="#">My bookings</a></li>
            </ul>
          </div>

        </div>
        </div>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
