<!DOCTYPE html>
<html>
  <head>
    <title>Wearables</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="./components/_index.scss">
  </head>
  <body>
    <nav>
      <div class="d-flex justify-content-between m-4">
        <a href='/'>Home</a>
        <a href="/wearables">Wearables</a>
        <button id="add-wearable">Add wearable</button>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
